@model IEnumerable<Happy_Hut_MVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        body {background: powderblue;}
        h2 {color: blue;}
    </style>
</head>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">

    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.CustomerName)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.CustommerPhone)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.FavDrink)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.FavMeal)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.LargestBill)
        </div>
    </div>
</div>



@foreach (var item in Model)
{
    <div class="container">
        <div class="row">
            <div class="col">
                @Html.DisplayFor(modelItem => item.CustomerName)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.CustommerPhone)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.FavDrink)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.FavMeal)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.LargestBill)
            </div>
            <div class="col">
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </div>
            
        </div>
        
     </div>
}







        @*@foreach (var item in Model) {*@
        @*//    <tr>
            //        <td>
            //            @Html.DisplayFor(modelItem => item.CustomerName)
            //        </td>
            //        <td>
            //            @Html.DisplayFor(modelItem => item.CustomerEmail)
            //        </td>
            //        <td>
            //            @Html.DisplayFor(modelItem => item.CustommerPhone)
            //        </td>
            //        <td>
            //            @Html.DisplayFor(modelItem => item.FavDrink)
            //        </td>
            //        <td>
            //            @Html.DisplayFor(modelItem => item.FavMeal)
            //        </td>
            //        <td>
            //            @Html.DisplayFor(modelItem => item.LargestBill)
            //        </td>
            //        <td>
            //            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            //            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            //            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
            //        </td>
            //    </tr>
            //}

            //</table>*@
